extends ../layout

block content
  div.books-container
    a.btn.btn-default(href='/books/new') Add a Book
    for book in books 
      div.well.well-lg 
        a(href='/books/#{book.id}')
          img.thumbnail(src='#{book.cover_url}')
        h3: a(href='/books/#{book.id}')= book.title
          a.glyphicon.glyphicon-remove(href='/books/#{book.id}/delete')
          a.glyphicon.glyphicon-pencil(href='/books/#{book.id}/edit')
        h4= book.author 
        h5= book.genre
        p= book.description 
    
