extends ../layout

block content
  include ../partials/sidebar 
  div.books-container
    div.well.well-lg 
      img.thumbnail(src='#{book.cover_url}')
      h2= book.title 
        a.glyphicon.glyphicon-remove(href='/books/#{book.id}/delete')
        a.glyphicon.glyphicon-pencil(href='/books/#{book.id}/edit')
      h4= book.author 
      p= book.description
